<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        chtml: {
          linebreaks: { automatic: true }
        }
      };
    </script>

    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

    <style>
      .post-header {
        margin-bottom: 30px;
      }
      .post-meta {
        font-size: 0.9em;
        color: #666;
      }
      .featured-image {
        width: 100%;
        height: 500px; /* Fixed height */
        object-fit: cover; /* Prevents image from stretching */
        margin-bottom: 30px;
        border-radius: 5px;
      }
    </style>

</head>
<body>
  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <article class="post">

        <header class="post-header">
          <h1 class="post-title">{{ page.title | escape }}</h1>
          <p class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%B %d, %Y" }}
            </time>
            {% if page.author %}
              • <span>{{ page.author | escape }}</span>
            {% endif %}
          </p>
        </header>

        {% if page.image %}
          {% assign image_src = page.image_path | append: page.image %}
          <img src="{{ image_src | relative_url }}" alt="{{ page.title }} featured image" class="featured-image">
        {% endif %}

        <div class="post-content" style="margin-bottom: 100px">
          {{ content }}
        </div>
        <!-- MailerLite Universal -->
        <script>
            (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
            .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
            n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
            (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
            ml('account', '1027352');
        </script>
        <!-- End MailerLite Universal -->
        <div class="ml-embedded" data-form="8B7iOE"></div>

      </article>
    </div>
  </main>
{% include footer.html %}
</body>
</html>