<header class="site-header">
  <a class="site-title" href="{{ "/" | relative_url }}">
    Hypercube: <span class="title-tagline">A Really Dope Zoetrope</span>
  </a>
  <nav class="site-nav">
      {% for item in site.data.navigation %}
        {% if item.link contains "http" %}
          <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a>
        {% else %}
          <a href="{{ item.link | relative_url }}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
  </nav>
</header>
